<!doctype HTML>
{% load static%}

{% load posts_recents %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Blog do Django</title>
    <meta name="keywords" content="keyword1,keyword2"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link  href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet"/>
    <link  href="{% static 'css/style.css' %}" media="screen" rel="stylesheet"/>
  </head>
<body>
<div id="uppermenu"><span class="container">
  {% if user.is_authenticated %}
  <h3 class="right color"><a href="{% url 'logout' %}">Sair</a></h3> 
  <h3 class="right color"><a href="{% url 'dashboard' %}">Meu painel</a></h3>
    <p class="left"> Bem-vindo {{ user.name }}</p>
  {%  else %}
    <a class="pure-button" href="{% url 'login' %}">Login</a>
    <a class="pure-button" href="{% url 'register' %}">Cadastre-se</a>
  {% endif %}
</span></div>
<div class="container">
  <!--centers the content between from header to footer-->
  <header  class="clearfix">
    <h1 class="left"><span>Sera</span>blog</h1>
    <form action="#" class="right" method="post">
      <input class="span-6 last" type="text" name="searchField" placeholder="search">
    </form>
  </header>
          {% if messages %}
          <div class="pure-g-r content-ribbon">
            <aside class="pure-u-1 box">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </aside>
          </div>
        {% endif %}
      {%block menu%} {%endblock%}
      <div id="content" class="clearfix content">
       {%block content%}

       {%endblock%}
        <aside class="span-8 last right clearfix">
          <h2><span>Categorias do blog</span></h2>
          <ul>
            <li><a href="#">web design</a></li>
            <li><a href="#">photoshop</a></li>
            <li><a href="#">html5 & css3</a></li>
            <li><a href="#">web application</a></li>
            <li><a href="#">SEO</a></li>
          </ul>
          <h2><span>Posts recentes</span></h2>

          {% postagens_recentes post%}

          <hr />
          <h2><span>Archive</span></h2>
          <ul>
            <li><a href="#">March 2012</a></li>
            <li><a href="#">April 2012</a></li>
            <li><a href="#">May 2012</a></li>
            <li><a href="#">June 2012</a></li>
            <li><a href="#">July 2012</a></li></ul>
        </aside>
      </div>
    </div>
  <!--################################################-->
  <footer class="clearfix">
    <div class="container">
      <div class="about span-6 append-1">
        <h3>About Serablog</h3>
          <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet orem ipsum dolor sit amet, consetetur sadipscing eli</p>
      </div>
      <div id="tweets" class="span-6 append-1">
        <h3>Latest tweets</h3>
        <div class="one_tweet">
          <p>sit amet orem ipsum dolor sit amet, consetetur sadipscing </p>
          <a href="#">http://t.co/#####</a>
          <div class="date">03 March 2013</div>
        </div>
        <div class="one_tweet">
          <p>sit amet orem ipsum dolor sit amet</p>
          <a href="#">http://t.co/#####</a>
          <div class="date">03 March 2013</div>
        </div>
      </div>
      <div id="footer_form" class="span-10 last clearfix">
        <h3>Contact us</h3>
        <form action="#">
          <div class="row"><label for="name">your name</label><input type="text" name="name" class="span-7 right last" /></div>
          <div class="row"><label for="email">your email</label><input type="text" name="email" class="span-7 right last"/></div>
          <div class="row"><label for="message">your message</label><textarea name="message"class="span-7 right last"></textarea></div>
          <div class="right"> <input type="submit" /></div>
        </form>
      </div>
      <hr/>
      Copyright 2013 by<b>SITE INC</b>, all rights reserved
      <span class="right last">Design by :<a href="http://www.ws-templates.com">ws-templates.com</a></span>
    </div> 
  </footer>
</body>
</html>

