{%extends "base.html"%}
{%block menu%}
<nav class="menu">
  <ul>
    <li><a href="{%url 'home' %}">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About</a></li>
    <li class="active"><a href="{%url 'contact' %}">Contato</a></li>
  </ul>
</nav>
{%endblock%}

{%block content%}
  <section id="posts" class="span-15 append-1">
    <h1><span>Fale conosco</span></h1>
    <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
    <h4>Links</h4>
    <ul>
      <li>E-mail: <a href="mailto:prisciladanielem@gmail.com">contato@simplemooc.org</a></li>
      <li>Twitter: <a href="https://twitter.com/">@blogdjango</a></li>
    </ul><br/>
    <h3><span>Fale conosco preenchendo o formulário</span></h3>
    <form action="#" class="pure-form pure-form-aligned" method="POST">
    {% csrf_token %}
      <fieldset>
      {%for field in form%}
        <div class="pure-control-group">
          {{ field.label_tag }}
          {{ field }}
        </div>
        {%endfor%}
        <div class="pure-controls">
          <button  class="pure-button" type="submit">Enviar</button>
        </div>
      </fieldset>
    </form>
  </section>
{%endblock%}