{%extends "base.html"%}
{% load static%}

{%block menu%}
<nav class="menu">
    <ul>
        <li class="active"><a href="{%url 'home' %}">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{%url 'contact' %}">Contato</a></li>
    </ul>
</nav>
{%endblock%}

	{% block content%}
	<section id="posts" class="span-15 append-1">
		<h1><span>Recent posts</span></h1>
		<article>
			<div class="date span-3">03 March</div>
			<h2><a href="#">Big title goes here</a></h2>
			<div class="metadata">
				<ul>
					<li>posted by <a href="#">Admin</a></li><li> in <a href="#">photoshop</a></li><li><a href="#">3comments</a></li> 
				</ul>
			</div>
			<img src="{% static 'images/img_15.jpg' %}" alt="" />
			<p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum...</p>
			<div class="more"><a href="#">Read more ...</a></div>
		</article>
		<hr />
		<article>
			<div class="date span-3">03 March</div>
			<h2><a href="#">Big title goes here</a></h2>
			<div class="metadata">
				<ul>
					<li>posted by <a href="#">Admin</a></li><li> in <a href="#">photoshop</a></li><li><a href="#">3comments</a></li> 
				</ul>
			</div>
			<img src="images/img_15.jpg" alt="" />
			<p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum...</p>
			<div class="more"><a href="#">Read more ...</a></div>
		</article>
		
		<div id="pagination"  >
			<a href="#">previous</a> <a href="#">1</a><a href="#" class="current">2</a><a href="#">3</a>...<a href="#">22</a><a href="#">next</a>
		</div>
	</section>
<!--################################################-->
	<aside class="span-8 last right clearfix">
		<h2><span>blog categories</span></h2>
		<ul>
			<li>
				<a href="#">web design</a></li>
			<li>
				<a href="#">photoshop</a></li>
			<li>
				<a href="#">html5 & css3</a></li>
			<li>
				<a href="#">web application</a></li>
			<li>
				<a href="#">SEO</a></li>
		</ul>
		<h2><span>Recent posts</span></h2>
		<img src="images/rp_img.jpg" width="70" height="64" alt="alt" class="span-2">
		<h3>
			<a href="#">first post</a></h3>
		<p>takimata sanctus est Lorem ipsum dolor sit amet orem ipsum dolor</p>
		<p class="date">12 March at 10:10 am</p>
		<hr />
		<img src="images/rp_img.jpg" width="70" height="64" alt="alt" class="span-2">
		<h3>
			<a href="#">first post</a></h3>
		<p>takimata sanctus est Lorem ipsum dolor sit amet orem ipsum dolor</p>
		<p class="date">12 March at 10:10 am</p>
		<hr />
		<img src="images/rp_img.jpg" width="70" height="64" alt="alt" class="span-2">
		<h3>
			<a href="#">first post</a></h3>
		<p>takimata sanctus est Lorem ipsum dolor sit amet orem ipsum dolor</p>
		<p class="date">12 March at 10:10 am</p>
		<hr />
		<h2><span>Archive</span></h2>
		<ul>
			<li>
				<a href="#">March 2012</a></li>
			<li>
				<a href="#">April 2012</a></li>
			<li>
				<a href="#">May 2012</a></li>
			<li>
				<a href="#">June 2012</a></li>
			<li>
				<a href="#">July 2012</a></li></ul>
	</aside>
</div>
{%endblock%}