<!doctype HTML>
{% load static%}
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog do Django</title>
        <meta name="description" content="A free template from http://ws-templates.com">
        <meta name="keywords" content="keyword1,keyword2"/>

        <link  href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet"/>
        <link  href="{% static 'css/style.css' %}" media="screen" rel="stylesheet"/>
    </head>
<body>


<!--################################################-->
<div id="uppermenu"><span class="container">tel : 00000000 | email : contact@domain.com</span></div>
<div class="container"><!--centers the content between from header to footer-->
<header  class="clearfix">
    <h1 class="left"><span>Sera</span>blog</h1>
    <form action="#" class="right" method="post">
        <input class="span-6 last" type="text" name="searchField" placeholder="search" />
    </form>
</header>
<!--################################################-->
{%block menu%} {%endblock%}
<div id="content" class="clearfix content">
    {%block content%} {%endblock%}
</div>
</div>
<!--################################################-->
<footer class="clearfix">
    <div class="container"><div class="about span-6 append-1">
        <h3>About Serablog</h3>
        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet orem ipsum dolor sit amet, consetetur sadipscing eli</p>
    
    </div>
    <div id="tweets" class="span-6 append-1">
        <h3>Latest tweets</h3>
        <div class="one_tweet">
            <p>sit amet orem ipsum dolor sit amet, consetetur sadipscing </p>
            <a href="#">http://t.co/#####</a>
            <div class="date">03 March 2013</div>
        </div>
        <div class="one_tweet">
            <p>sit amet orem ipsum dolor sit amet</p>
            <a href="#">http://t.co/#####</a>
            <div class="date">03 March 2013</div>
        </div>
    </div>
    <div id="footer_form" class="span-10 last clearfix">
    <h3>Contact us</h3>
        <form action="#">
            <div class="row"><label for="name">your name</label><input type="text" name="name" class="span-7 right last" /></div>
            <div class="row"><label for="email">your email</label><input type="text" name="email" class="span-7 right last"/></div>
            <div class="row"><label for="message">your message</label><textarea name="message"class="span-7 right last"></textarea></div>
        <div class="right"> <input type="submit" /></div>
        </form>

    </div><hr />
            
            Copyright 2013 by<b>SITE INC</b>, all rights reserved
            <span class="right last">Design by :<a href="http://www.ws-templates.com">ws-templates.com</a></span></div>
</footer>
</body>
</html>