{% extends "base.html" %}

{%block menu%}
<nav class="menu">
  <ul>
    <li><a href="{%url 'home' %}">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About</a></li>
    <li><a href="{%url 'contact' %}">Contato</a></li>
  </ul>
</nav>
{%endblock%}

{%block content%}
  <section id="posts" class="span-15 append-1">
    <h1 class="text-center"><span>Editar post</span></h1>
    <form action="#" class="pure-form pure-form-aligned" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
      <fieldset>
      {{ field.non_field_errors }}
      {%for field in form%}
        <div class="pure-control-group">
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
        </div>
        {%endfor%}
        <div class="pure-controls">
          <button  class="pure-button" type="submit">Salvar</button>
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}