{%extends "base.html"%}
{% load static%}

{%block menu%}
  <nav class="menu">
    <ul>
      <li class="active"><a href="{%url 'home' %}">Home</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="{%url 'contact' %}">Contato</a></li>
    </ul>
  </nav>
{%endblock%}

  {% block content%}
    <section id="posts" class="span-15 append-1">
      <h1><span>Posts recentes</span></h1>
      {%for post in posts%}
      <article>
          <div class="date span-3">{{post.created_at}}</div>
          <h2><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h2>
          <div class="metadata">
            <ul>
              <li>postado por <a href="#">{{post.user.name}}</a></li><li> in <a href="#">{{post.category}}</a></li><li><a href="#">3comments</a></li> 
            </ul>
          </div>
          {%if post.image%}
              <img src="{{post.image.url}}" alt="" width="589px" height="200px"/>
          {%else%}
          <img src="{% static 'images/img_15.jpg' %}" alt="" width="589px" height="200px"/>
          {%endif%}
          <p>{{post.article |slice:"0:150"}} ...</p>
          <div class="more"><a href="{{ post.get_absolute_url }}">Ler mais</a></div>
      </article>
      <hr />
      {% empty %}
      <h3 class="text-center">Não existem posts no blog ainda!</h3>
        {%endfor%}
      {% if posts.has_other_pages %}
      <div id="pagination">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}
        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
         <a class="current">{{ i }}</a>
         {% else %}
         <a href="?page={{ i }}">{{i}}</a>
         {% endif %}
         {% endfor %}
         {% if posts.has_next %}
         <a href="?page={{ posts.next_page_number }}">next</a>
         {% endif %}
      </div>
      {% endif %}
    </section>
{%endblock%}




